.offer-banner {
  position: relative;
  width: 100%;
  height: 40vh;
  background: url(/src/assets/images/offerbanner/banner.png) center/cover
    no-repeat;
}
.title {
  color: #fff;
  font-family: Volkhov;
  font-size: 2.5vw;
  font-style: normal;
  line-height: normal;
  max-width: 26vw;
  text-transform: capitalize;
}
.text-box {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
}
.line {
  position: absolute;
  top: 70%;
  left: 36%;
  transform: translate(-50%, -50%);
  width: 15vw;
}
